@model IEnumerable<Imperium.Models.Casa>


@{
    ViewData["Title"] = "Index";
}

<section class="section my-services" data-section="section2">
    <div class="service">
        <div class="container">
            <div class="row">

                <div class="col-10">
                    <div class="section-header text-center">
                        <p>Mira algunos de los proyectos que hemos realizado</p>
                        <h2>Catálogo de casas:</h2>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item">
                                    <div class="service-img">
                                        <img src="~/Imagenes/@Html.DisplayFor(modelItem => item.Imagen)" alt="Image">

                                    </div>
                                    <div class="service-text">
                                        <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                                        <div>
                                            <a asp-action="Consulta_detalle" asp-route-id="@item.Idcasa" class="btn">+</a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>




