@model Imperium.Models.Contacto

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/css/tooplate-style.css" />
    <link rel="stylesheet" href="~/assets/css/owl.css" />
    <link rel="stylesheet" href="~/assets/css/lightbox.css" />
</head>

<!-- Contact Start -->
<div class="contact wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <p>El poder de contáctarnos</p>
            <h2>Al alcance de tus manos</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="flaticon-address"></i>
                        <div class="contact-text">
                            <h2>Ubicación</h2>
                            <p>C. 111 315, Santa Rosa, 97279 Mérida, Yuc.</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-call"></i>
                        <div class="contact-text">
                            <h2>Celular</h2>
                            <p>+52 999 125 8521</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-send-mail"></i>
                        <div class="contact-text">
                            <h2>Correo electrónico</h2>
                            <p>karina@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div id="success"></div>
                   <div class="row">
                <div class="right-content">
                    <div class="container">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <fieldset>
                                    <label asp-for="Nombre" class="control-label">Nombre del solicitante:</label>
                                    <input asp-for="Nombre" class="form-control" placeholder="Escriba su nombre" required="" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <label asp-for="Causa" class="control-label">Causa:</label>
                                    <input asp-for="Causa" class="form-control" type="text" placeholder="Escriba la causa" required="" />
                                    <span asp-validation-for="Causa" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <label asp-for="Comentario" class="control-label">Comentarios:</label>
                                    <textarea asp-for="Comentario" rows="6" class="form-control" placeholder="Escriba su mensaje" required=""></textarea>
                                    <span asp-validation-for="Comentario" class="text-danger"></span>
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <label asp-for="Correo" class="control-label">Correo:</label>
                                    <input asp-for="Correo" class="form-control" />
                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <br />
                            <div class="col-md-12 white-button">
                                <fieldset>
                                            <button class="btn" type="submit" id="sendMessageButton form-submit" value="Create">
                                        Eviar Mensaje
                                    </button>
                                </fieldset>
                            </div>
                        </form>
                            </div>
                        </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>


<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/Imagenes/new_images/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Bienvenido a IMPERIUM</p>
                    <h2>25 años de experiencia</h2>
                </div>
                <div class="about-text">
                    <p>
                        Somos una empresa dedicada al apasionante mundo de la compra, venta y renta de
                        propiedades, con el objetivo principal de facilitar y garantizar un proceso de
                        urbanización eficiente y satisfactorio. Nuestra misión consiste en brindar soluciones
                        integrales y personalizadas a nuestros clientes, asegurando que encuentren la propiedad
                        perfecta que se ajuste a sus necesidades y deseos, ya sea para vivir, invertir o
                        desarrollar proyectos inmobiliarios.
                    </p>
                    <p>
                        Contamos con un equipo altamente calificado y comprometido, conformado por expertos en
                        el mercado inmobiliario, agentes de bienes raíces, abogados y especialistas en
                        financiamiento, que se encargan de guiar y asesorar a nuestros clientes en cada etapa
                        del proceso. Nos enorgullece mantenernos actualizados sobre las últimas tendencias y
                        regulaciones en el sector, lo que nos permite brindar un servicio de vanguardia y
                        adaptado a las necesidades cambiantes del mercado.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About buy's -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <h2>Sobre las compras</h2>
                </div>
                <div class="about-text">
                    <p>
                        Nuestra empresa se especializa en la adquisición de propiedades, y nos enorgullece decir
                        que estamos dispuestos a considerar prácticamente cualquier oportunidad de compra que se
                        presente. Nuestro objetivo principal es invertir en bienes raíces que tengan un alto
                        potencial de rendimiento y que sean estratégicamente ubicados.
                    </p>
                    <p>
                        Cuando evaluamos una propiedad, tenemos en cuenta varios factores clave. En primer
                        lugar, nos interesa su ubicación. Valoramos especialmente aquellas propiedades que se
                        encuentran en zonas altamente concurridas o en puntos estratégicos que ofrecen ventajas
                        competitivas significativas. Comprendemos el valor de la ubicación y estamos dispuestos
                        a pagar más si creemos que la propiedad tiene un potencial excepcional debido a su
                        posición estratégica.
                    </p>

                    <p>
                        En resumen, si tienes una propiedad disponible y estás buscando vender, no dudes en
                        contactarnos. Estamos dispuestos a considerar cualquier oferta y, si la propiedad cumple
                        con nuestros criterios de inversión, estamos dispuestos a pagar un precio justo y
                        competitivo. Nuestro enfoque estratégico nos permite identificar oportunidades únicas y
                        maximizar el potencial de cada inversión.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/Imagenes/new_images/about.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About sell's -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/Imagenes/new_images/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Bienvenido a IMPERIUM</p>
                    <h2>Sobre las ventas</h2>
                </div>
                <div class="about-text">
                    <p>
                        En nuestro afán por brindar un servicio completo y personalizado, hemos seleccionado
                        cuidadosamente cada propiedad para asegurarnos de que cumpla con los estándares de
                        calidad y valor que nos distinguen. Nuestro equipo de expertos en bienes raíces ha
                        llevado a cabo evaluaciones exhaustivas y meticulosas para garantizar que cada propiedad
                        en nuestro inventario ofrezca características deseables y un potencial de inversión
                        sólido.
                    </p>
                    <p>
                        En nuestro afán por brindar un servicio completo y personalizado, hemos seleccionado
                        cuidadosamente cada propiedad para asegurarnos de que cumpla con los estándares de
                        calidad y valor que nos distinguen. Nuestro equipo de expertos en bienes raíces ha
                        llevado a cabo evaluaciones exhaustivas y meticulosas para garantizar que cada propiedad
                        en nuestro inventario ofrezca características deseables y un potencial de inversión
                        sólido.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About rent's -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <h2>Sobre las rentas</h2>
                </div>
                <div class="about-text">
                    <p>

                        En nuestra empresa, nos enorgullece ofrecer una amplia gama de propiedades para alquiler
                        a precios razonables. Creemos firmemente en brindar a nuestros clientes opciones
                        asequibles y accesibles para que encuentren el lugar perfecto para vivir o establecer su
                        negocio.
                    </p>
                    <p>
                        Nuestro equipo de agentes inmobiliarios está altamente capacitado para ayudarte a
                        encontrar la propiedad adecuada en la ubicación que deseas. Están dispuestos a escuchar
                        tus preferencias y necesidades específicas para brindarte recomendaciones y opciones que
                        se ajusten a tus criterios.
                    </p>

                    <p>

                        En nuestra empresa, nos enorgullece ofrecer una amplia gama de propiedades para alquiler
                        a precios razonables. Creemos firmemente en brindar a nuestros clientes opciones
                        asequibles y accesibles para que encuentren el lugar perfecto para vivir o establecer su
                        negocio.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="/Imagenes/new_images/about.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
@section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
