@model Imperium.Models.RegistroUser 

@{
    ViewData["Title"] = "Home Page";
}



<section class="section about-me" data-section="section1">
   
        <div class="container">
        <div class="top-header">
            <img src="assets/images/aerobic-girls.jpg" alt="aerobic girls" />
        </div>
        <div class="section-heading">
            <h2 style="text-align:center">Bienvenido a IMPERIUM</h2>
            <div class="line-dec"></div>
            <span>Somos una empresa encargada de vender casas de buena calidad</span>
        </div>
    </div>
    
</section>


